/*반드시 이것부터 선언*/
@charset "utf-8";
@import "normalize.css";
@import "fonts.css";

/*스타일 초기화*/
/*여백제거 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin: 0;
	padding: 0;
}

/* 목록의 블릿 기호 제거 */
ul{
	list-style: none;
}

/* 링크 스타일 */
a:link, a:visited{
	color : inherit;
	text-decoration: none;
}

/* 숨김콘텐츠 */
.a11y-hidden{	
	overflow:hidden;
	position : relative;
	clip: rect(0 0 0 0); /* 사격형으로 잘라내는것 (하위버전)*/
	clip : rect(0, 0, 0 ,0 ); /* 사격형으로 잘라내는것 (상위버전)*/
	width : 1px; /* 가상요소로 포커스 */
	height: 1px;
	margin : -1px;
	border : 0;
	padding : 0;
	/* 상위 기준인데 relative로 설정된것 기준으로 */
}

html{
	font-size : 10px;
}

/* 본문 스타일 */
body{    
	color : #181818;
	/*font-size: 0.875em;  16 * 0.875 = 14px */
	font-size: 1.4rem; /* html 기본 글자크기 * 1.4 = 14px */
	font-family: 'Noto Sans Regular';
	background: #fff linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}

/* 레이아웃 */
.header, .visual, .main-content, .footer, .slogan{
	width: 940px;
	margin : 0 auto;
	box-sizing: border-box;
	border-radius: 0 0 15px 15px; /*상단 왼쪽부터 시계반향으로 */
}

/* 헤더 */
.header{
	background-color: #ffffff;
	padding: 0 30px;
	height: 110px;
	position: relative;
}

/* 로고 */
.logo{	
	position: absolute;
	top:45px;
	left : 60px;
}

/* 안내링크 */
.info{
	font-size : 0;
	text-align : right;
	margin-right: -8px;
}

.info li{	
	margin : 10px 0;
	display : inline-block;
	font-size: 1.4rem;
}

/*.info li::before{
	content: ":";
}

.info li:first-child:before{
	content: "";
}*/

.info li:nth-child(n+2):before{
	content: ":";	
}

.info a{
	padding : 5px 8px;
}


/* 메인 메뉴 */
.main-menu{
	background: linear-gradient(to bottom, #eaa22e 0%,#d69028 30%,#d69028 30%,#d69028 30%,#d69028 30%,#207cca 30%,#d69028 30%,#eaa22e 100%);
	background-color: #eaa22e;
	border-top:2px solid black;	
	border-radius: 0 0 5px 5px;
	padding-left: 225px;
	height: 45px;
}

.main-menu > li{
	float:left;
}

.main-menu > li > a{
	color:white;
	font-family: "Noto Sans Bold";
	font-size : 1.6rem;	
	display:block;
	line-height: 45px;
	padding : 0 20px;
	border-left: 1px solid #fff;
	text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000; /* X, Y, blue, 색 */
}

.main-menu ul{
	background-color: pink;
	position:absolute;
	display: none;
}

/*.main-menu > li > ul > li{
	display:block;
}*/

/* 비주얼 */
.visual{	
	height: 120px;
}

/* 메인 컨텐츠 */
.main-content{
	background-color: #ffffff;
	min-height:400px; /*최소높이*/
	padding: 30px 15px;
	border-radius: 0 0 15px 15px; /*상단 왼쪽부터 시계반향으로 */
	/*overflow: hidden;*/
	/*
	* 자식의 크기를 알수있게 하는 요소
	* 단점 : 부모크기 밖으로 자식의 크기가 나가는건 잘리는 현상 발생
	*/
	
	
	/*메인콘텐츠 크기가 증가한것을 원본 크기에 맞춰 조절*/
	/*content-box : width + padding + border + margin*/
	/*border-box : width(padding + border) + margin*/	
}
/* 
 : -> 익스플로러 하위버전에서도 호환, :: -> 하위번전 고려X
*/
.main-content::after{
	content: "";
	display: block;
	clear: both; 
	/* 1. 아래로 내려가면서 공간 차지 */
}

.group{		
	float:left;
	margin : 0 15px;
}


.group1{	
	width: 250px;
}

.group2{	
	width: 380px;
}

.group3{
	width: 190px;
}

/* 슬로건 */
.slogan{
	min-height: 100px;
}

/* 푸터 */
.footer-bg{	
	background: #aaa linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}

.footer{	
	min-height: 100px;
}
