/*반드시 이것부터 선언*/
@charset "utf-8";
@import "normalize.css";
@import "fonts.css";

/*스타일 초기화*/
/*여백제거 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin: 0;
	padding: 0;
}

/* 목록의 블릿 기호 제거 */
ul{
	list-style: none;
}

/* 링크 스타일 */
a:link, a:visited{
	color : inherit;
	text-decoration: none;
}

/* 숨김콘텐츠 */
.a11y-hidden{	
	overflow:hidden;
	position : relative;
	clip: rect(0 0 0 0); /* 사격형으로 잘라내는것 (하위버전)*/
	clip : rect(0, 0, 0 ,0 ); /* 사격형으로 잘라내는것 (상위버전)*/
	width : 1px; /* 가상요소로 포커스 */
	height: 1px;
	margin : -1px;
	border : 0;
	padding : 0;
	/* 상위 기준인데 relative로 설정된것 기준으로 */
}

html{
	font-size : 10px;
}

/* 본문 스타일 */
body{    
	color : #181818;
	/*font-size: 0.875em;  16 * 0.875 = 14px */
	font-size: 1.4rem; /* html 기본 글자크기 * 1.4 = 14px */
	font-family: 'Noto Sans Regular';
	background: #fff linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);	
}

.wrapper{
	background : url(images/bg_flower.png) no-repeat 50% 0;

	/*
	background-color: #ff0;
	background-image: url(images/bg_flower.png);
	background-repeat: no-repeat;
	background-position: 50% 0;	가로, 세로위치
	background-size: 1200px 500px;
	background-attachment: fixed;  배경고정 
	*/
}

/* 레이아웃 */
.header, .visual, .main-content, .footer, .slogan{
	width: 940px;
	margin : 0 auto;
	box-sizing: border-box;
	border-radius: 0 0 15px 15px; /*상단 왼쪽부터 시계반향으로 */
}

/* 헤더 */
.header{
	background-color: #ffffff;
	padding: 0 30px;
	height: 115px;
	position: relative;
}

/* 로고 */
.logo{	
	position: absolute;
	top:45px;
	left : 60px;
}

/* 안내링크 */
.info{
	font-size : 0;
	text-align : right;
	margin-right: -8px;
}

.info li{	
	margin : 10px 0;
	display : inline-block;
	font-size: 1.4rem;
}

/*.info li::before{
	content: ":";
}

.info li:first-child:before{
	content: "";
}*/

.info li:nth-child(n+2):before{
	content: ":";	
}

.info a{
	padding : 5px 8px;
}


/* 메인 메뉴 */
.main-menu{	
	background: linear-gradient(to bottom, #eaac2e 0%,#f2752e 35%,#f2752e 65%,#eaac2e 100%);
	background-color: #eaa22e;
	border-top:2px solid black;	
	border-radius: 0 0 5px 5px;
	padding-left: 225px;
	height: 45px;
}

.main-menu a{
	outline : 0 none;
}

.main-menu > li{
	float:left;
	position:relative;
}

.main-menu > li > a{
	color:white;
	font-family: "Noto Sans Bold";
	font-size : 1.6rem;	
	display:block;
	line-height: 45px;
	padding : 0 20px;
	border-left: 1px solid #fff;
	text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000; /* X, Y, blue, 색 */
}

.main-menu > li > a:hover, .main-menu > li > a:focus{
	color:#ff0;
}

.main-menu > li > a:hover::after, .main-menu > li > a:focus::after{
	content: "";
	border-top:2px solid #000;
	display : block;
}

.main-menu ul{
	background-color: pink;
	position:absolute;
	top:47px;
	white-space: nowrap; /* 줄바꿈 허용 X*/
}

.main-menu ul li, .main-menu ul li a{
	display: inline-block;
}

.main-menu ul a{
	padding : 6px 15px 8px 0;
}

.main-menu ul a:hover, .main-menu ul a:focus{
	color:red;
}

.main-menu ul a::before{
	content:"r";
	font-family: "webcafeIcon";
	position:relative;
	top:2px;
}

.main-menu ul a:hover::before, .main-menu ul a:focus::before{
	content: "c";
}

.about-html{
	display: none;
	left:0;
}
.about-css{
	display: none;
	left:0;
}
.web-standard{
	display: none;
	left:0;
}
.web-accessibility{
	display: none;
	left:-140px;
}
.qna{
	display: none;
	left:-175px;
}
.archive{
	display: none;
	right: -20px;
}


/*.main-menu > li > ul > li{
	display:block;
}*/

/* 비주얼 */
@keyframes text-ani{ /* 애니메이션 구역 */
	0%{
		font-size: 12px;
		color:rgba(0,0,0,0);
		transform : translate(0,0);
	} /* 시작지점 */
	100%{
		font-size: 24px;
		color:rgba(0,0,0,1);
		transform : translate(400px, 75px);
	} /* 종료지점 */
}

@keyframes flower-ani{ /* 애니메이션 구역 */
	0%{		
		opacity : 1;
		/*transform : translate(0,0);*/
	} /* 시작지점 */
	100%{		
		opacity : 0;
		/*transform : translate(0, 0);*/
	} /* 종료지점 */
}

.visual{	
	height: 120px;
	position: relative; /*visual-text가 얘를 기준으로 설정하기 위해서*/
}

.visual::before, .visual::after{
	content: "";	
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 120px;
	animation : flower-ani 2s forwards infinite alternate ease-in-out;
}
.visual::before{
	background: url(images/ani_flower_01.png) no-repeat 0 -15px, 
	url(images/ani_flower_02.png) no-repeat 670px 0;	
}
.visual::after{
	background: url(images/ani_flower_03.png) no-repeat 300px 0,
	url(images/ani_flower_04.png) no-repeat 800px 15px;
	animation-delay: 1s;
}


.visual-text{
	/*position: absolute;*/
	display: inline-block;
	font-family: Georgia, serif;
	color:rgba(0,0,0,0);
	animation : text-ani 0.5s forwards  ease-in-out;
	

	/*
	animation-name: text-ani;
	animation-duration : 5s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-iteration-count: 3; 애니메이션 반복횟수
	animation-direction: alternate; 방향값
	animation-timing-function: ease-in-out; 느리게 > 중간 가속 > 서서히 멈춤효과
	animation-play-state: paused;
	*/
	
}


/* 메인 컨텐츠 */
.main-content{
	background-color: #ffffff;
	min-height:400px; /*최소높이*/
	padding: 30px 15px;
	border-radius: 0 0 15px 15px; /*상단 왼쪽부터 시계반향으로 */
	/*overflow: hidden;*/
	/*
	* 자식의 크기를 알수있게 하는 요소
	* 단점 : 부모크기 밖으로 자식의 크기가 나가는건 잘리는 현상 발생
	*/
	
	
	/*메인콘텐츠 크기가 증가한것을 원본 크기에 맞춰 조절*/
	/*content-box : width + padding + border + margin*/
	/*border-box : width(padding + border) + margin*/	
}
/* 
 : -> 익스플로러 하위버전에서도 호환, :: -> 하위번전 고려X
*/
.main-content::after{
	content: "";
	display: block;
	clear: both; 
	/* 1. 아래로 내려가면서 공간 차지 */
}

.group{		
	float:left;
	margin : 0 15px;
}


.group1{	
	width: 250px;
}

.group2{	
	width: 380px;
}

.group3{
	width: 190px;
}

/* 슬로건 */
.slogan{
	min-height: 100px;
}

/* 푸터 */
.footer-bg{	
	background: #aaa linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}

.footer{	
	min-height: 100px;
}
